{% extends '@SharedKernel/base.html.twig' %}

{% block title %}Home - Video Games Records{% endblock %}

{% block body %}
{# Hero Header Content - Hidden on mobile #}
{{ render(controller(
    'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\SiteStats',
    { ttl: 86400 }
)) }}

{# Top 5 Leaderboards Section #}
<div class="row g-4">
    {# Game Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::gamePoints',
            { ttl: 3600 }
        )) }}
    </div>

    {# Cup Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::cups',
            { ttl: 3600 }
        )) }}
    </div>

    {# Medals Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::medals',
            { ttl: 3600 }
        )) }}
    </div>

    {# Record Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::recordPoints',
            { ttl: 3600 }
        )) }}
    </div>

    {# Badge Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::badges',
            { ttl: 3600 }
        )) }}
    </div>

    {# Proofs Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::proofs',
            { ttl: 3600 }
        )) }}
    </div>

    {# Game of the Day #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Game\\GameOfDay'
        )) }}
    </div>

    {# Latest Games #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Game\\LatestGames',
            { ttl: 3600 }
        )) }}
    </div>

    {# Latest Scores #}
    <div class="col-12 col-xl-6">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\PlayerChart\\LatestScores',
            { ttl: 3600 }
        )) }}
    </div>

    {# Latest News #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\Article\\Presentation\\Web\\Controller\\TopNewsController::latest',
            { ttl: 3600 }
        )) }}
    </div>

    {# Latest Forum Messages #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\Forum\\Presentation\\Web\\Controller\\LatestMessagesController',
            { ttl: 3600 }
        )) }}
    </div>
</div>

{# Partners Section #}
<div class="text-center mt-5 pt-4 border-top">
    <h2 class="h5 mb-4">{{ 'home.partners.title'|trans({}, 'SharedKernel') }}</h2>
    <div class="d-flex flex-wrap justify-content-center align-items-center gap-4">
        <a href="https://www.culture-games.com/" target="_blank" rel="noopener noreferrer">
            <img src="{{ asset('img/partner/culture-games.jpg') }}" alt="Culture Games" class="rounded" style="max-height: 60px; width: auto;">
        </a>
        <a href="https://www.nintendo64ever.com/" target="_blank" rel="noopener noreferrer">
            <img src="{{ asset('img/partner/nintendo-64-ever.png') }}" alt="Nintendo64ever" class="rounded" style="max-height: 60px; width: auto;">
        </a>
        <a href="https://youtube.videogamesrecords.net/" target="_blank" rel="noopener noreferrer">
            <img src="{{ asset('img/partner/vgr-youtube.png') }}" alt="VGR YouTube" class="rounded" style="max-height: 60px; width: auto;">
        </a>
    </div>
</div>

{# Affiliate Links #}
<div class="text-center mt-5 pt-4 border-top">
    <a href="https://video-games-records.myspreadshop.fr/" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="Shop"><i class="bi bi-cart3"></i></a>
    <a href="https://discord.com/invite/nYsRzsZ" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="Discord"><i class="bi bi-discord"></i></a>
    <a href="https://www.twitch.tv/videogamesrecords/" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="Twitch"><i class="bi bi-twitch"></i></a>
    <a href="https://www.youtube.com/channel/UC_b4IOPqkN9uOsk-vktl8eA" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="YouTube"><i class="bi bi-youtube"></i></a>
    <a href="https://steamcommunity.com/groups/vgrr" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="Steam"><i class="bi bi-steam"></i></a>
    <a href="https://x.com/VGRecords" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="Twitter"><i class="bi bi-twitter-x"></i></a>
    <a href="https://www.linkedin.com/company/video-games-records/" class="text-primary fs-4 mx-2" target="_blank" rel="noopener" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
</div>
{% endblock %}
