{% extends '@SharedKernel/base.html.twig' %}

{% block title %}Home - Video Games Records{% endblock %}

{% block body %}
{# Hero Header Content - Hidden on mobile #}
<div class="d-none d-md-block mb-4">
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <p class="text-muted mb-2">
                Video Games Records is a video game records website, created in 2003. You can enter the competition and challenge hundreds of players on a wide choice of games, available on a significant number of platforms.
            </p>
            <p class="text-muted mb-0">
                Our <strong>5,311 members</strong> have posted <strong>1,598,941 records</strong> on <strong>5,994 games</strong>.
            </p>
        </div>
    </div>
</div>

{# Top 5 Leaderboards Section #}
<div class="row g-4">
    {# Game Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::gamePoints'
        )) }}
    </div>

    {# Cup Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::cups'
        )) }}
    </div>

    {# Medals Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::medals'
        )) }}
    </div>

    {# Record Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::recordPoints'
        )) }}
    </div>

    {# Badge Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::badges'
        )) }}
    </div>

    {# Proofs Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::proofs'
        )) }}
    </div>

    {# Game of the Day #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Game\\GameOfDay'
        )) }}
    </div>

    {# Latest Games #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Game\\LatestGames'
        )) }}
    </div>

    {# Latest Scores #}
    <div class="col-12 col-xl-6">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\PlayerChart\\LatestScores'
        )) }}
    </div>

    {# Latest News #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\Article\\Presentation\\Web\\Controller\\TopNewsController::latest'
        )) }}
    </div>
</div>

{# Affiliate Links #}
<div class="text-center mt-5 pt-4 border-top">
    <a href="https://video-games-records.myspreadshop.fr/" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="Shop"><i class="bi bi-cart3"></i></a>
    <a href="https://discord.com/invite/nYsRzsZ" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="Discord"><i class="bi bi-discord"></i></a>
    <a href="https://www.twitch.tv/videogamesrecords/" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="Twitch"><i class="bi bi-twitch"></i></a>
    <a href="https://www.youtube.com/channel/UC_b4IOPqkN9uOsk-vktl8eA" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="YouTube"><i class="bi bi-youtube"></i></a>
    <a href="https://steamcommunity.com/groups/vgrr" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="Steam"><i class="bi bi-steam"></i></a>
    <a href="https://x.com/VGRecords" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="Twitter"><i class="bi bi-twitter-x"></i></a>
    <a href="https://www.linkedin.com/company/video-games-records/" class="text-secondary fs-4 mx-2" target="_blank" rel="noopener" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
</div>
{% endblock %}
