{% extends '@SharedKernel/base.html.twig' %}

{% block title %}Home - Video Games Records{% endblock %}

{% block body %}
{# Hero Header Content - Hidden on mobile #}
<div class="d-none d-md-block mb-4">
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <p class="text-muted mb-2">
                Video Games Records is a video game records website, created in 2003. You can enter the competition and challenge hundreds of players on a wide choice of games, available on a significant number of platforms.
            </p>
            <p class="text-muted mb-0">
                Our <strong>5,311 members</strong> have posted <strong>1,598,941 records</strong> on <strong>5,994 games</strong>.
            </p>
        </div>
    </div>
</div>

{# Top 5 Leaderboards Section #}
<div class="row g-4">
    {# Game Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::gamePoints'
        )) }}
    </div>

    {# Cup Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::cups'
        )) }}
    </div>

    {# Medals Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::medals'
        )) }}
    </div>

    {# Record Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::recordPoints'
        )) }}
    </div>

    {# Badge Points Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::badges'
        )) }}
    </div>

    {# Proofs Leaderboard #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Ranking\\TopPlayersController::proofs'
        )) }}
    </div>

    {# Game of the Day #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Game\\GameOfDay'
        )) }}
    </div>

    {# Latest Games #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\VideoGamesRecords\\Core\\Presentation\\Web\\Controller\\Game\\LatestGames'
        )) }}
    </div>

    {# Latest News #}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        {{ render(controller(
            'App\\BoundedContext\\Article\\Presentation\\Web\\Controller\\TopNewsController::latest'
        )) }}
    </div>
</div>
{% endblock %}
