{% extends '@SonataAdmin/CRUD/show.html.twig' %}
{% trans_default_domain 'VgrCoreAdmin' %}

{% block show_groups %}

    {# Header #}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-flag"></i>
                        {{ object.getDefaultName() }}
                        {% if object.getName('fr') and object.getName('fr') != object.getDefaultName() %}
                            <small class="text-muted">/ {{ object.getName('fr') }}</small>
                        {% endif %}
                    </h3>
                    <div class="box-tools pull-right">
                        <span class="label label-info">ID: {{ object.getId() }}</span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-condensed">
                                <tr>
                                    <td><strong>{% trans %}country.show.codeIso2{% endtrans %} :</strong></td>
                                    <td><span class="label label-default">{{ object.getCodeIso2() }}</span></td>
                                </tr>
                                <tr>
                                    <td><strong>{% trans %}country.show.codeIso3{% endtrans %} :</strong></td>
                                    <td><span class="label label-default">{{ object.getCodeIso3() }}</span></td>
                                </tr>
                                <tr>
                                    <td><strong>{% trans %}country.show.codeIsoNumeric{% endtrans %} :</strong></td>
                                    <td>{{ object.getCodeIsoNumeric() }}</td>
                                </tr>
                            </table>
                        </div>
                        {% if object.getBadge() %}
                        <div class="col-md-6">
                            <div class="badge-block">
                                <a href="{{ path('vgrcorebundle_admin_badge_show', {'id': object.getBadge().getId()}) }}">
                                    <img src="/badge/{{ object.getBadge().getId() }}/picture" alt="Badge" style="height: 48px;">
                                </a>
                                <span class="text-muted" style="margin-left: 10px;">
                                    {% trans %}badge.show.value{% endtrans %} : <strong>{{ object.getBadge().getValue() }}</strong>
                                    &nbsp;|&nbsp;
                                    {% trans %}badge.show.nbPlayer{% endtrans %} : <strong>{{ object.getBadge().getNbPlayer() }}</strong>
                                </span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Badge History #}
    {% if object.getBadge() %}
        {% set playerHistory = vgr_player_badge_history(object.getBadge()) %}
        {% set teamHistory = vgr_team_badge_history(object.getBadge()) %}

        {% if playerHistory|length > 0 or teamHistory|length > 0 %}
        <div class="row">
            {% if playerHistory|length > 0 %}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-user"></i>
                            {% trans %}game.show.badge_history.player_history{% endtrans %}
                            <span class="badge badge-default">{{ playerHistory|length }}</span>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans %}game.show.badge_history.history.player{% endtrans %}</th>
                                    <th>{% trans %}game.show.badge_history.history.since{% endtrans %}</th>
                                    <th>{% trans %}game.show.badge_history.history.until{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in playerHistory %}
                                <tr class="{{ row.endedAt is null ? 'success' : '' }}">
                                    <td>{{ row.pseudo }}</td>
                                    <td>{{ row.createdAt|date('d/m/Y') }}</td>
                                    <td>
                                        {% if row.endedAt is null %}
                                            <span class="label label-success">{% trans %}game.show.badge_history.history.active{% endtrans %}</span>
                                        {% else %}
                                            {{ row.endedAt|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if teamHistory|length > 0 %}
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-users"></i>
                            {% trans %}game.show.badge_history.team_history{% endtrans %}
                            <span class="badge badge-default">{{ teamHistory|length }}</span>
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans %}game.show.badge_history.history.team{% endtrans %}</th>
                                    <th>{% trans %}game.show.badge_history.history.since{% endtrans %}</th>
                                    <th>{% trans %}game.show.badge_history.history.until{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in teamHistory %}
                                <tr class="{{ row.endedAt is null ? 'success' : '' }}">
                                    <td>{{ row.libTeam }}</td>
                                    <td>{{ row.createdAt|date('d/m/Y') }}</td>
                                    <td>
                                        {% if row.endedAt is null %}
                                            <span class="label label-success">{% trans %}game.show.badge_history.history.active{% endtrans %}</span>
                                        {% else %}
                                            {{ row.endedAt|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}

{% endblock %}
