<div class="d-flex align-items-center gap-2">
    {% if showAvatar %}
        <img src="/users/{{ player.getUserId() }}/avatar"
             alt="{{ player.pseudo }}"
             class="rounded-circle"
             width="{{ avatarSize }}"
             height="{{ avatarSize }}">
    {% endif %}

    {% if showTeam and player.team %}
        <span>[{{ player.team.tag }}]</span>
    {% endif %}

    <a href="{{ path('vgr_player_profile_overview', {id: player.id, slug: player.slug}) }}"
       class="text-decoration-none{% if bold %} fw-bold{% endif %}"
       {% if not prefetch %}data-turbo-prefetch="false"{% endif %}>
        {{ player.pseudo }}
    </a>

    {% if showCountry and player.country %}
        <img src="https://flagcdn.com/20x15/{{ player.country.codeIso2|lower }}.png"
             alt="{{ player.country.name }}"
             title="{{ player.country.name }}">
    {% endif %}
</div>
